# Ignore my specific variables:
1setvarsCc.sh
2setvars.sh
2setvars-Machine.sh
3setSync-Master.sh
8setvarsSync-Labs.sh
#
/flex/plugin-p1/node_modules/
/flex/plugin-p1/public/
#
/java/fileio/build/
/java/fileio/nbproject/private/
/java/arrays/build/
/java/arrays/nbproject/private/