# Ignore my specific variables:
1setvarsCc.sh
2setvars.sh
2setvars-Machine.sh
3setSync-Master.sh
8setvarsSync-Labs.sh
#
*.log
#
/conversations/0setvars.sh
#
/mediaStreams/node_modules/
/mediaStreams/google_creds.json
/mediaStreams/package-lock.json
#
/php/node_modules
/node/node_modules
/golang/vendor
#
/flex/plugin-p1/node_modules/
/flex/plugin-p1/public/
#
/java/fileio/build/
/java/fileio/nbproject/private/
/java/arrays/build/
/java/arrays/nbproject/private/
#
/wss/venv/
/wss/__pycache__/
#
/sendgrid/node_modules/
#
/tigauthy-node/node_modules/
/java/fileio/dist/
/java2/arrays/build/
/java2/arrays/nbproject/private/
/java2/arrays1/build/
/java2/arrays1/nbproject/private/
/java2/fileio1/build/
/java2/fileio1/dist/
/java2/fileio1/nbproject/private/
