/* Links */
a:link{color:#D98839; text-decoration:none;}
a:visited{color:#D98839; text-decoration:none;}
a:hover{color:#954C08; text-decoration:underline;}
a:active{color: green; text-decoration:underline;}

#outerBorder {
    margin: 0px 20px 0px 20px;
    padding: 5px 10px 10px 10px;
}
/* #outerBorder { border: 1px solid #000000; } 
/* for debugging: make #outerBorder visible */

.heading {
    height:65px;
}
/* .heading { border: 1px solid #000000; } 
/* for debugging */

.main {
    width: 100%;
    margin-top: 10px;
}
/* .main { border: 1px solid #000000; } 
/* for debugging */

a[name]:hover{text-decoration:none}
a{text-decoration:none}
a:hover{
    text-decoration:underline
}

.leftSidebar {
    float: left; 
    height:380px;
    width: 180px;
    border: 1px solid #000000;
    padding: 5px 0px 0px 5px;
}

.content {
    height:380px;
    margin: 0 0 0 200px;
    border: 1px solid #000000;
    padding: 5px 0px 0px 5px;
}

.subheading {
    margin-top : 20px;
    clear: both;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 20px;
    width: 100%;
}
/* .subheading { border-top: 1px solid red; }
/* .subheading { border-bottom: 1px solid blue; }
/* for debugging */
.subheading div {
    float: right;
    padding-right: 5px;
}

.footer {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #000000;
  text-align: center;
  clear: both;
}

// eof